    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<div class="container">


<div class="d-flex bd-highlight mb-3">

    <div class="p-2 bd-highlight" style="font-size: 40px;" >Poll Feed</div> 
    <div class="ml-auto p-2 bd-highlight"> 
      <a href="/new_poll">
        Add a New Poll!
      </a>
    </div>    
</div>

<h1>Polls</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.caption %></td>
        <td><%= poll.owner_id %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  </thead>





</table>

<br>
